.svn
boost
build/*/*
build/*.tmp
result*
CMakeLists.txt.user*
dist
clion
mingw
.idea
img
qt
.DS_Store
out
build/.em++_info.tmp.em1.x
build/Makefile
build/cmake_install.cmake
result
*.ignore
wasm
build/compile_commands.json
build/CMakeCache.txt
build-Debug*/*
build-Release*/*
